/* 
	Stephanie Ramos
	January 31, 2026
	Module 4 Assignment: JavaBeans
	
	Purpose: External CSS used to style the page and table
*/

body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f2f6f8;
    color: #2f3e46;
}

h1 {
    margin-bottom: 10px;
    color: #3a5f7d;
}

p {
    color: #3f4f5f;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ffffff;
}

th {
    background-color: #4f6d7a;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #cfd8dc;
    padding: 10px;
    vertical-align: top;
}

.info {
    margin-top: 20px;
    padding: 15px;
    background-color: #e3edf3;
    border-left: 5px solid #4f6d7a;
}